@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

:root {
    /*  fontes  */
    --fonte1: "Young Serif", serif;
    --fonte2: "Outfit", sans-serif;
    /* cores */
    --branco: hsl(0, 0%, 100%);
    --cor1: hsl(30, 54%, 90%);
    --cor2: hsl(30, 18%, 87%);
    --cor3: hsl(30, 10%, 34%);
    --cor4: hsl(24, 5%, 18%);
    --cor5: hsl(14, 45%, 36%);
    --cor6: hsl(332, 51%, 32%);
    --cor7: hsl(330, 100%, 98%);
}

* {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}

h1, p, ul, h2, h3, hr, ol {
    margin: 20px 0px;
}

body {
    background-color: var(--cor1);
    color: var(--cor3);
    font-family: var(--fonte2);
    font-size: 17px;
    
    height: 100vh;
}

.conteiner {
    display: flex;
    flex-flow: row wrap;
}
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    background-color: var(--branco);
}

section {
    padding: 30px;
}

li::marker {
    color: var(--cor5);
    font-weight: 700;
}

ol > li::marker {
    font-size: 1.1em;
}

ol, ul {
}

ol.olist {
    list-style-position: outside;
    padding-left: 20px;
    text-align:justify
}

ol.olist li {
    text-indent: 20px;
}

hr{
    margin: 30px 0px;
}

.banner {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.prep {
    background-color: var(--cor7);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    margin: auto;
}

.prep ul {
    list-style-position: inside;
    line-height: 2em;
    text-indent: 20px;
}

.nutri > div {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid hsla(32, 10%, 34%, 0.315);
    padding: 10px;
}

.nutri > div > span.valor {
    color: var(--cor5);
    font-weight: 700;
}


article ul, ol {
    list-style-position: inside;
    line-height: 2em;
}

h1, h2 {
    font-family: var(--fonte1);
    font-weight: 300;
}

h1 {
    color: var(--cor4);
    font-size: 2.3em;
}

h2 {
    color: var(--cor5);
    font-size: 1.8em;
}

h3 {
    color: var(--cor6);
    font-size: 1.4em;
}

.attribution {
    padding: 10px;
    background-color: white;
}